Operations on strings

- Arithmetic operations
- Relationl operations
- logical operaions
- loops on strings
- membership operaitons

In [2]:
'hello ' + 'world'

'hello world'

In [4]:
print('+'*50)  #string multiplication

++++++++++++++++++++++++++++++++++++++++++++++++++

In [7]:
print('hello '*4) #only addition works here, not other arithmetic operators

hello hello hello hello

In [8]:
#relational operators

'hello' == 'Hello'

False

In [9]:
'mumbai' > 'pune' 
#lexiographically comparisions (mns alphabetically p bad me aayega so p is greater than m)

False

In [10]:
'gov' < 'kolkata' #alphabetically k bad me aayega so k is greater than g

True

In [13]:
'pune' < 'Pune' #coz, small letters bad me aate hai, jo bad mea aata hai o greater

False

In [14]:
# logical operators

'hello' and 'world'

'world'

In [ ]:
# empty string ->False
# non-empty string -> true

In [17]:
'' and 'hi' #output false

''

In [18]:
'' or 'hello' #so 1 output so hello

'hello'

In [19]:
'hello' and 'world' #world 1 hone pe sure hote ho ki ans 1 hoga. that's why output world

'world'

In [20]:
not 'hello'

False

In [21]:
not ''

True

In [22]:
#loops

c = 'hello world'
for i in c:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [23]:
c

'hello world'

In [24]:
# membership operator

'h' in c

True

In [25]:
'H' in c

False