list

what is list? 

list is data type where we can store diff kind of data type

diff between in array and list?

1) array is homogenous(same kindda data type) while list is hetrogenous

2) array me continous memory location pe cheeze store hoti hai, while in list ek ke bad ek store nhi 

3) coz of 2nd, array are much faster since countinous, while list is not

4) lists are more programmer friendly, kam krna easy hota hai. (drawback slow hai)

creating list

In [1]:
# empty list
l = []

In [2]:
# homogenous list
l1 = [1,2,3,4,5,6]

In [3]:
# hetrogenous list
[1,'hi',2.4,True]

[1, 'hi', 2.4, True]

In [4]:
# multidimentional list
# 2D
l2 = [1,2,3,[4,5]] #multidimentional hetrogenous list
l2

[1, 2, 3, [4, 5]]

In [5]:
#3D
[[[1,2,3],[4,5,6]]]

[[[1, 2, 3], [4, 5, 6]]]

In [7]:
#can create with type conversion
l4 = list('heyhi')
l4

['h', 'e', 'y', 'h', 'i']

In [8]:
#empty list
l3 = list()
l3

[]

Accessing items from list

In [12]:
list1 = [1,2,3,4,5,6,7,8]
# can perform all funcitons of string
list2 = [1,2,3,[4,5]]
list2[3][0] #2 sqr braces lagane padenge

4

In [18]:
list3 = [[[1,2],[3,4]],[[5,6],[7,8]]]
list3[1][1][0]

7

Editing items in list

In [19]:
list3[0] = 100

In [20]:
list3 # got changed as list is mutable unlike string

[100, [[5, 6], [7, 8]]]

In [21]:
li1 = [1,2,3,4,5,6,7]

In [22]:
li1[:4] #slicing also works in list unlike string

[1, 2, 3, 4]

how to add new item in list

1) append

    
    2)extend

3) insert

In [24]:
li1.append(2) #will add at end any data type
li1

[1, 2, 3, 4, 5, 6, 7, 2, 2]

In [31]:
# it want add mutiple things

li1.extend([100,200,300,400])
li1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 2,
 2,
 100,
 200,
 300,
 400,
 [100, 200, 300, 400],
 [100, 200, 300, 400],
 100,
 200,
 300,
 400]

In [36]:
li1.append([2,3])
li1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 2,
 2,
 100,
 200,
 300,
 400,
 [100, 200, 300, 400],
 [100, 200, 300, 400],
 100,
 200,
 300,
 400,
 [2, 3],
 [2, 3],
 [2, 3]]

In [38]:
li1.append('goa')
li1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 2,
 2,
 100,
 200,
 300,
 400,
 [100, 200, 300, 400],
 [100, 200, 300, 400],
 100,
 200,
 300,
 400,
 [2, 3],
 [2, 3],
 [2, 3],
 'goa',
 'goa']

In [39]:
li1.extend('goa')

In [40]:
li1 #hence, append always try to append 1 item, while extend always try to append multiple items

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 2,
 2,
 100,
 200,
 300,
 400,
 [100, 200, 300, 400],
 [100, 200, 300, 400],
 100,
 200,
 300,
 400,
 [2, 3],
 [2, 3],
 [2, 3],
 'goa',
 'goa',
 'g',
 'o',
 'a']

In [42]:
# what if want to add at perticular position then
li1.insert(1,'world') #position. what want to add
li1

[1,
 'world',
 'world',
 2,
 3,
 4,
 5,
 6,
 7,
 2,
 2,
 100,
 200,
 300,
 400,
 [100, 200, 300, 400],
 [100, 200, 300, 400],
 100,
 200,
 300,
 400,
 [2, 3],
 [2, 3],
 [2, 3],
 'goa',
 'goa',
 'g',
 'o',
 'a']

Removing list

In [ ]:
# del
# remode
# pop
# clear

In [43]:
l = [2,3] 
del l #entire got delete

In [44]:
l

NameError: name 'l' is not defined

In [45]:
del  li1[0] #delete specific position

In [46]:
li1

['world',
 'world',
 2,
 3,
 4,
 5,
 6,
 7,
 2,
 2,
 100,
 200,
 300,
 400,
 [100, 200, 300, 400],
 [100, 200, 300, 400],
 100,
 200,
 300,
 400,
 [2, 3],
 [2, 3],
 [2, 3],
 'goa',
 'goa',
 'g',
 'o',
 'a']

In [49]:
del li1[-3:]

In [50]:
li1

['world',
 'world',
 2,
 3,
 4,
 5,
 6,
 7,
 2,
 2,
 100,
 200,
 300,
 400,
 [100, 200, 300, 400],
 [100, 200, 300, 400],
 100,
 200,
 300,
 400,
 [2, 3],
 [2, 3],
 [2, 3],
 'goa',
 'goa']

In [55]:
# what if don't know index postition, but wanna remove perticular world 

li1.remove('world')

In [56]:
li1

['world',
 2,
 3,
 4,
 5,
 6,
 7,
 2,
 2,
 100,
 200,
 300,
 400,
 [100, 200, 300, 400],
 [100, 200, 300, 400],
 100,
 200,
 300,
 400,
 [2, 3],
 [2, 3],
 [2, 3],
 'goa',
 'goa']

In [58]:
#pop
li1.pop()

'goa'

In [59]:
li1

['world',
 2,
 3,
 4,
 5,
 6,
 7,
 2,
 2,
 100,
 200,
 300,
 400,
 [100, 200, 300, 400],
 [100, 200, 300, 400],
 100,
 200,
 300,
 400,
 [2, 3],
 [2, 3],
 [2, 3],
 'goa']

In [60]:
#clear
li1.clear()

In [61]:
li1.clear()

In [62]:
li1

[]

Operations on list

In [66]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = l1 + l2
l3

[1, 2, 3, 4, 5, 6]

In [67]:
l1 * 2 #multiplication

[1, 2, 3, 1, 2, 3]

In [69]:
for i in l1:
    print(i)

1
2
3

In [70]:
for i in [1,2,3,[4,5]]:
    print(i) #loop will be 4 times

1
2
3
[4, 5]

In [71]:
4 in l3

True

In [72]:
10 in l3

False

In [73]:
4 in [1,2,3,[4,5]] #coz 4 is not directly present

False

Functions

In [74]:
len(l3)

6

In [75]:
min(l3)

1

In [76]:
max(l3)

6

In [77]:
sorted(l3) #it doesn't change in origuinal list, rather crete new list

[1, 2, 3, 4, 5, 6]

In [78]:
sorted(l3,reverse=True)

[6, 5, 4, 3, 2, 1]

In [79]:
l3

[1, 2, 3, 4, 5, 6]

In [83]:
#sort (it is permant operations)

l3.sort(reverse=True)
l3

[6, 5, 4, 3, 2, 1]

In [84]:
l3

[6, 5, 4, 3, 2, 1]

In [85]:
#indexing

l3[3]

3

In [86]:
'hello, hw r u'.title()

'Hello, Hw R U'

In [12]:
str = 'hello how are you'
# str1 = str.split()
# for i in str1:
#     cap = i.capitalize()
#     print(cap,end=' ')

l = []
for i in str.split():
    # print(i.capitalize())
    l.append(i.capitalize())
print(l)
print(' '.join(l))
# l2  = ' '.join(l)
# type(l2)

['Hello', 'How', 'Are', 'You']
Hello How Are You

In [19]:
sample = 'abc@gmail.com'

# for i in sample:
#     if i == '@':
#         break
# print(i)

print(sample[:sample.find('@')])

abc

In [20]:
l = [1,1,2,2,3,3,4,4]
print(list(set(l)))

[1, 2, 3, 4]