Tuples

- Create
- Acccess
- Edit
- Add
- Delete
- Operations
- Functions

In [8]:
# Create
t1 = ()
type(t1)

t2 = (1,2,3,4,5) #homogenious
t3 = (1,'hi',4.5,True) #hetrogenious

t5 = (1,2,3,(4,5)) #2D tuple
print(t5)

# problem : NOTE
t6 = (1,) #comma is mandatory
# type(t6)

#crete using type conversion
t7 = tuple('hi')
type(t7)

(1, 2, 3, (4, 5))

tuple

In [11]:
# Access
tp = (1,2,3,4,5)
tp[0] #indexing

tp[1:3] #slicing

#till eveything same as list
#now, diff is
tp[0] = 100 #coz tuple are immutable just like string

TypeError: 'tuple' object does not support item assignment

In [ ]:
# can u Add new item in tuple
 
# NO, coz tuple are immutable, so can't make any changes just like string

In [ ]:
#Editing ?

#again , NO

In [12]:
#deleting
del tp[-1] #if u try to delete single item, it mns we'r trying to change in original tuple which is not allowed

del tp #will delete whole tuple

TypeError: 'tuple' object doesn't support item deletion

In [13]:
# operations

t1 + tp #concat

(1, 2, 3, 4, 5)

In [16]:
tp * 3 #multiply

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [20]:
for i in tp:
    print(i)

print(4 in tp) #membership operator

1
2
3
4
5
True

In [ ]:
# all operation are same like list

In [21]:
# Functions

len(tp)

5

In [22]:
max(tp)

5

In [23]:
min(tp)

1

In [24]:
sorted(tp)

[1, 2, 3, 4, 5]

In [28]:
sorted(tp,reverse=True)

[5, 4, 3, 2, 1]

Tuples are read only data type 

coz, we can't make changes in original tuple

in which senario data's integrity is imp, we'll use tuple