Sets

Rules :

- sets don't allow duplicate
- sets haven't indexing/slicing
- sets don't allow mutable data types
- set itself is a mutable data types (mns set don't even set)

In [8]:
#creating

s1 = {}
type({}) #default dict

s = set() #empty set
type(s)

s1 = {1,2,3,4,5} #homogenious
s2 = {1,'hi',3.4,True} #hetrogenious
s2

s3 = {1,2,3,1,2,2,3,3,3} #set doesn't allow duplicate
s3


# s4 = {[1,2,3],'hello'} #doesn't allow mutable
# s4

s5 = {(1,2,3),'hello'} #both immutable, so allowed!
s5 #sets have no indexing so i may change order
#then why randomness in sets coz of Hashing

{(1, 2, 3), 'hello'}

In [9]:
s5 = {{2},{4}} #coz set isn't allow inside sets
s5

TypeError: unhashable type: 'set'

In [11]:
#Accessing

s1
s2

{1, 3.4, 'hi'}

In [12]:
s2[2] #not allowed

TypeError: 'set' object is not subscriptable

In [13]:
s2[1:4] #not allowed

TypeError: 'set' object is not subscriptable

In [14]:
#Editing ? NO

s1

{1, 2, 3, 4, 5}

In [15]:
id(s1)

2131957176064

In [18]:
l = list(s1)
l[0] = 100
l

[100, 2, 3, 4, 5]

In [19]:
set(l)

{2, 3, 4, 5, 100}

In [21]:
type(l)

list

In [20]:
id(l) #diff (it creat new set rather editing )

2131962714944

In [22]:
#Adding ? YES!

s1

{1, 2, 3, 4, 5}

In [23]:
s1.add(100)

In [24]:
s1

{1, 2, 3, 4, 5, 100}

In [25]:
id(s1)

2131957176064

In [26]:
s1.add(200)

In [28]:
s1

{1, 2, 3, 4, 5, 100, 200}

In [29]:
id(s1) # id is same so can ADD. Proved!

2131957176064

In [42]:
# Delete ? YES!

# 3 mechanism :
# 1) del
# 2) remove
# 3) pop

s1 
s2
# del s1[1] #coz it's immutable

s2
s2.remove(3.4) #remove perticular item
s2

KeyError: 3.4

In [43]:
s3

{1, 2, 3}

In [44]:
s3.pop() #coz of hashing set is misbehaving [hashing work according to memory location]

1

In [50]:
#operaions

set1 = {1,2,3,4,5}
set2 = {6,7,8,9}

# set1 + set2 #not allowed
# set1 * 3 #not allowed

for i in set1:  #looping allowed
    print(i)

4 in set1 #membership also allowed

1
2
3
4
5

True

In [51]:
#functions

len(set1)

5

In [52]:
max(set1)

5

In [53]:
min(set1)

1

In [54]:
sorted(set1)

[1, 2, 3, 4, 5]

In [56]:
sum(set1)

15

In [58]:
sorted(set1,reverse=True)

[5, 4, 3, 2, 1]

In [74]:
# functions specific to set only!

s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s1
s2

s1.union(s2) #unique

s1.intersection(s2) #common

s1.difference(s2) #distinct (jo s1 me hai but s2 me nhi)
s2.difference(s1) #jo s2 me hai, but not in s1

s1.symmetric_difference(s2) #return which preset in set1 but not in set2 and vice versa

s1.isdisjoint(s2) #if not common is both sets , then return True

s1.issubset(s2)

s1.issuperset(s2)

sl.clear()

False