Dictionary :
it is key-value pair

In [1]:
{'name' : 'pratibha', 'gender' : 'female'}

{'name': 'pratibha', 'gender': 'female'}

Rules :
1) dict has no indexing
2) dict is a mutable data typs
3) keys always immutable, value can be mutable
4) key should be unuque

Mutable : list, set, dict

Immutable : strings, tuples, integers, float, boolean, complex

In [3]:
#creating

d1 = {}
type(d1)

dict

In [6]:
d2 = {'name' : 'pratibha', 'gender' : 'female'} #normal dict
d2

{'name': 'pratibha', 'gender': 'female'}

In [8]:
d1 = {[1,2,3]:'pratibha'} #key is mutable and value is immutable

TypeError: unhashable type: 'list'

In [9]:
d1 = {(1,2,3):'pratibha'} #now key-> immutable, value could be mutable and immutable

In [10]:
d1

{(1, 2, 3): 'pratibha'}

In [12]:
d2 = {'name':'pratibha','name':'onkar'}
d2 #python thought we'r tying update, so got updated!

{'name': 'onkar'}

In [1]:
# 2D dictionaries

d3 = {'name':'pratihba','roll_no':5,'marks':{'m1':60,'m2':70,'m3':80}}
d3

{'name': 'pratihba', 'roll_no': 5, 'marks': {'m1': 60, 'm2': 70, 'm3': 80}}

In [26]:
#Accessing items

# d3[0] #not allowed

# solution : write key name

d3['name']

d3['marks']
d3['marks']['m1']

d3.get('marks') #but, in 2D we can't use get functin, so better to use previous one

# In dict there isn't indexing, nor slicing. only way by providing correct key

{'m1': 100, 'm2': 70, 'm3': 80}

In [25]:
#editing

d3['name'] = 'om'
d3

d3['marks']['m1'] = 100
d3

#the way we access, can edit also both in terms of 1D as well as in 2D

{'name': 'om', 'roll_no': 5, 'marks': {'m1': 100, 'm2': 70, 'm3': 80}}

In [31]:
#Adding new key_value pair

d3['age'] = 30
d3

d3['marks']['ds']=70 #on 2D
d3

{'name': 'om',
 'roll_no': 5,
 'marks': {'m1': 100, 'm2': 70, 'm3': 80, 'ds': 70},
 'age': 30}

In [36]:
# deleteing

# d5 = {}
# del d5
# d5

del d3['age'] #specific key will remove
d3

d3.clear()

{'name': 'om',
 'roll_no': 5,
 'marks': {'m1': 100, 'm2': 70, 'm3': 80, 'ds': 70}}

In [48]:
#operations
d1
d3

# d1 + d3 #concatination doesn't work just like set

# d1 * 3 #doesn't work

# for i in d3:
#     print(i) #looping work, but u'll get only keys not values


# if want values, can modify the code
for i in d3:
    print(i,d3[i]) #i mns key


'om' in d3
'name' in d3 #only checks in keys

name om
roll_no 5
marks {'m1': 100, 'm2': 70, 'm3': 80, 'ds': 70}

True

In [49]:
#functions

len(d3)

3

In [50]:
min(d3) #lexiographically  (by ASCII value)

'marks'

In [51]:
max(d3)

'roll_no'

In [52]:
sorted(d3)

['marks', 'name', 'roll_no']

In [53]:
sorted(d3,reverse=True)

['roll_no', 'name', 'marks']

In [ ]:
# if values would be numeric sum would've been also work

In [54]:
d3.keys() #return all keys

dict_keys(['name', 'roll_no', 'marks'])

In [56]:
d3.values() #return all values

dict_values(['om', 5, {'m1': 100, 'm2': 70, 'm3': 80, 'ds': 70}])

In [6]:
# if want both keys and values use index
for key, value in d3.items():
    print(key,value)

name pratihba
roll_no 5
marks {'m1': 60, 'm2': 70, 'm3': 80}